.about .heading h1 {
    text-align: start;
    background: linear-gradient(to right,#21BDE4, #B447C5);
    font-weight: 600;
    font-size: 40px;
    margin: 75px 555px 40px 0;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text p {
    font-size: 25px;
    font-weight: 400;
    color: var(--w);
    padding: 10px 0 30px;
    line-height: 50px;
}

.box {
    display: grid;
    position: relative;
    justify-content: center;
    background: var(--d-blue);
    padding: 40px 30px;
    margin: 35px 10px;
    border-radius: 30px;
    border:none;
    cursor: pointer;
    transition: all 0.3s ease;
}


.heading h1 {
    text-align: center;
    background: linear-gradient(to right,#21BDE4, #B447C5);
    font-weight: 700;
    font-size: 40px;
    margin: 10px 678px 40px;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box h1 {
    text-align: center;
    font-size: 35px;
    color: var(--w);
    padding: 30px 0 40px;
}

.box h2 {
    text-align: center;
    font-size: 30px;
    color: var(--l-gray);
    padding: 0;
}

.box:hover {
    background: var(--d-blue);
}


.in-box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 386px;
    height: 0px;
    border-radius: 30px;

    opacity: 0;
    background: linear-gradient(rgba(33, 189, 228, 0%), rgba(170, 71, 197, 70%));
    transition: all 0.5s ease;
}

.box:hover .in-box {
    position: absolute;
    bottom: 0;
    left: 0;
    filter: grayscale(0);
    width: 386px;
    opacity: 100%;
    height: 450px;
    border-radius: 30px;
    background: linear-gradient(rgba(33, 189, 228, 0%), rgba(170, 71, 197, 70%));
}

.box img {
    filter: grayscale(100%);
    transition: all 0.5s ease;
    border-radius: 40px;
}

.box:hover img {
    filter: grayscale(0);
}

.icon-box {
    background: var(--d-blue);
    justify-content: space-between;
    border-radius: 20px;
    padding: 20px 30px;
    margin: 300px 50px 20px;
    opacity: 0;
    transition: all 1s ease;
}

.box:hover .icon-box {
    margin: 340px 50px 20px;
    opacity: 100%;
}

@media (max-width:1800px) {
       /* ===================== about ======================= */

       .heading h1 {
        margin: 10px 660px 40px;
    }

    .box:hover .in-box {
        position: absolute;
        bottom: 0;
        left: 0;
        filter: grayscale(0);
        width: 377px;
    }

    .in-box {
        width: 377px;
    }

    /* ===================== about ======================= */
}

@media (max-width:1680px) {

        /* ===================== about ======================= */

        .heading h1 {
            margin: 10px 600px 40px;
        }
    
        .box:hover .in-box {
            position: absolute;
            bottom: 0;
            left: 0;
            filter: grayscale(0);
            width: 347px;
        }
    
        .in-box {
            bottom: -13px;
            left: -16px;
        }
    
        .text p {
            font-size: 21px;
            font-weight: 400;
            color: var(--w);
            padding: 0px 0 0;
        }


}

@media (max-width:1600px) {

        /* ===================== about ======================= */

        .heading h1 {
            margin: 10px 600px 40px;
        }
    
        .box:hover .in-box {
            position: absolute;
            bottom: 0;
            left: 0;
            filter: grayscale(0);
            width: 347px;
        }
    
        .in-box {
            bottom: 0;
            left: 0;
            width: 347px;
        }
    
        .text p {
            font-size: 21px;
            font-weight: 400;
            color: var(--w);
            padding: 0px 0 0;
        }

        /* ===================== about ======================= */

}

@media (max-width:1440px) {

        /* ===================== about ======================= */

        .about .heading h1 {
            margin: 75px 347px 40px 0;
        }

        .about .text p {
            font-size: 20px;
        }

        .heading h1 {
            margin: 10px 455px 40px;
        }
    
        .box:hover .in-box {
            position: absolute;
            bottom: 0;
            left: 0;
            filter: grayscale(0);
            width: 287px;
        }
    
        .in-box {
            bottom: 0;
            left: 0;
            width: 287px;
        }
    
        .box:hover .icon-box {
            margin: 340px 34px 20px;
            opacity: 100%;
            padding: 20px;
        }

        .box h1 {
            text-align: center;
            font-size: 25px;
            color: var(--w);
            padding: 30px 0 40px;
        }

        .box h2 {
            text-align: center;
            font-size: 25px;
            color: var(--l-gray);
            padding: 0;
        }

        /* ===================== about ======================= */

}

@media (max-width: 1280px) {
    
    .about .heading h1 {
        margin: 0 425px 40px 447px;
    }

    .box:hover .in-box {
        bottom: 0;
        width: 365px;
    }
    
    .box:hover .icon-box {
        margin: 340px 50px 20px;
        opacity: 100%;
    }


}

@media (max-width: 1200px) {
    
  

    .box:hover .in-box {
        bottom: 0;
        width: 342px;
    }

    .box .in-box {
        bottom: 0;
        width: 342px;
    }


}

@media (max-width: 1024px) {
    
    .about .heading h1 {
        margin: 90px 356px 40px 364px;
    }

    .heading h1 {
        margin: 10px 349px 40px;
    }

    .box:hover .in-box {
        bottom: 0;
        width: 482px;
    }

    .box .in-box {
        bottom: 0;
        width: 482px;
    }
    
    .boxs .box-1 {
        padding: 25px 54px;
    }

    .boxs {
        justify-content: space-evenly;
    }

}

@media (max-width: 912px) {
    
    .about .heading h1 {
        margin: 90px 300px 40px;
    }

    .heading h1 {
        margin: 10px 255px 40px;
    }

    .projects .box {
        background: var(--d-blue);
        padding: 30px;
        margin: 25px 15px;
        border-radius: 30px;
        border: 3px solid transparent;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .box:hover .in-box {
        bottom: -5px;
        width: 412px;
        left: -1px;
    }

}

@media (max-width: 820px) {
    
    .about .heading h1 {
        margin: 90px 255px 40px;
    }

    .box:hover .in-box {
        bottom: -5px;
        width: 365px;
        left: -1px;
    }

}

@media (max-width: 768px) {
    
    .about .heading h1 {
        margin: 90px 225px 40px;
    }

    .left .box-2:hover img {
    
        left: 84px;
    }

    .left .box-2 img {
       
        left: 84px;
    }

    .box:hover .in-box {
        bottom: -5px;
        width: 342px;
        left: -1px;
    }
    
    .box .in-box {
        bottom: -5px;
        width: 342px;
        left: -1px;
    }

    .heading h1 {
        margin: 10px 219px 40px;
    }

}

@media (max-width: 600px) {
    
    .about .heading h1 {
        margin: 90px 146px 40px;
    }

    .about .text p {
        font-size: 19px;
        line-height: 36px;
    }

    .projects .box {
        margin: 25px 114px;
    }

    .box:hover .in-box {
        bottom: -5px;
        width: 369px;
        left: -1px;
    }

}

@media (max-width: 414px) {
    
    .about .heading h1 {
        margin: 90px 56px 40px;
    }

    .boxs .box-1 {
        padding: 25px 68px;
        margin: 15px 11px;
    }

    .heading h1 {
        margin: 10px 15px 40px;
    }

    .projects .box {
        margin: 25px 23px;
    }

    .left .box-2:hover img {
        left: 33px;
    }

    .left .box-2 img {
        left: 33px;
    }

}

